<ul>
    
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name:}}

      {{!-- <button data-planid="{{this.id}}" class="delplan">Delete Plan!</button> --}}
    </p>
  </li>
  {{/each}}
</ul>